body{
    background-color: rgb(87, 131, 170);
}

a{
   text-decoration: none;
}

.img{
    max-width: 90%;
    max-height: 80%;
    
}

.card{
height: 425px;
width: 425px;
background-color: rgb(214, 205, 194);
box-shadow: 0px 3px 5px 0px rgb(135, 26, 168);
border-color: rgb(161, 13, 154);
margin-left: 70%;
margin-top: 10%;
}

.card:hover{
    height: 400px;
width: 225px;
background-color: rgb(214, 205, 194);
box-shadow: 0px 3px 5px 0px rgb(135, 26, 168);
border-color: rgb(161, 13, 154);
}

strong{
    color: rgb(187, 47, 47);
}